body {

}

.container {
  margin: 0 auto;
  background-color: #ffd900;
}

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

.header-section div {
  float: left;
  padding: 10px;
}

.header-section__hd {
  display: inline;
}

.nav-section {
  display: flex;
}

.nav-section__lists {

  list-style-type: none;
}

.nav-section__lists a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-section ul {
  font-size: 25px;
}

/* Main-section */
.main-section {
  display: flex;
}

.main-section div {
  width: 50%;
  border: 0;
}

.main-section__info {
  padding-left: 200px;
}

.main-section__image {
  padding-left: 400px;
  padding-bottom: 150px;
  width: 400;
}

.main-section__logo img {
  margin: 10px;
}

/* section-two */
.section-two {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-two__info {
 text-align: center;
}

.section-main__info {
  display: flex;
  width: 33%;
}
.section-main__info i {
  font-size: 40px;
  margin: 20px;

}

.section-two__items {
   display: flex;
   flex-wrap: wrap;
   margin-left: 200px;
   margin-top: 80px;

}

/* footer-section */

.footer-section {
 background-color: #000;
 color: #ffd900;
}

.footer-section__info {
  text-align: center;
  padding-top: 60px;
}
.footer-section__info p {
  color: white;
}

.footer-section__button {
margin-top: 30px;
}

.footer-section__button  {
  text-align: center;
  padding-bottom: 20px ;
}

.footer-section__button input {
  width: 30%;
  padding: 10px;
  border-radius: 6px;
}

.footer-section__button button {
  padding: 10px 30px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #ffd900;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.social-networks {
 text-align: center;
 margin-top: 40px;
 text-decoration: none;
 padding-bottom: 100px;
}

.social-networks i {
  font-size: 40px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #ffd900;
}

.footer-section__information {
  color: white;
  display: flex;
  margin-left: 214px;
  padding-bottom: 100px;
}


.footer-section__information div {
  margin: 0 50px;
}

.footer-section__links {
  display: flex;
}


.footer-section__links li {
  list-style-type: none;
}

.footer-section__links a {
  text-decoration: none;
  color: white;
}